*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
  .container {
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 5px solid black;
    margin: 20px auto;
  }
.container > h1{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 43px;
    margin-top: 50px;
}
.text{
    width: 400px;
    height: 50px;
    background: #e1ad01;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}
.text h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 760;
    color: Black;
}

/* The Loading Animation */
.loading{
    width: 150px;
    height: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    margin: 0 10px;
}
.first{
    animation: slide 2s  ease-in-out infinite ;
    animation-delay: .1s;
}
.second{
    animation: slide 2s ease-in-out infinite;
    animation-delay: .5s;
}
.third{
    animation: slide 2s ease-in-out infinite;
    animation-delay: 1s;
}
@keyframes slide{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0);
    }
}